<div class="container-header">
  <div class="conteudo-header">
    <nav>
      <img  class="covid-img" src="../../../../assets/covid19.png" alt="COVID19">
      <a routerLink="/dashboard">Mundo</a>
    </nav>
    <nav>
      <a>
        <button mat-button [matMenuTriggerFor]="menu">Brasil</button>
        <mat-menu #menu="matMenu">
          <a routerLink="/brasil">
            <button mat-menu-item>Geral</button>
          </a>
          <a routerLink="/brasil/estados">
            <button mat-menu-item>Estados</button>
          </a>
          <a routerLink="/brasil/data/">
            <button mat-menu-item>Casos por data</button>
          </a>

        </mat-menu>
      </a>
    </nav>
    <aside>
      <div class="paises-all">
        <a routerLink="/dashboard/paises">Todos os paises</a>
      </div>
    </aside>
  </div>
</div>
