<div class="body">
  <div class="container" style="flex-direction: column;">
    <br>
    <form>
      <mat-form-field class="example-full-width">
        <mat-label>País</mat-label>
        <input
          matInput
          placeholder="Digite o país"
          #nomePais
          #paisPesquisado
          (keyup)="pesquisa(paisPesquisado.value)"
        >
      </mat-form-field>
    </form>
    <br>
    <div class="cards">
      <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile *ngFor="let pais of paisesFiltrados">
          <a routerLink="/dashboard/paises/{{ pais.country }}">
            <mat-card style="font-size: 15px; font-weight: bold;">
              pais: {{ pais.country }} <br>
              Casos: {{ pais.cases }}<br>
              Mortes: {{ pais.deaths }}<br>
            </mat-card>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
