div .container {
  display: flex;
}

div .cardContainer {
  width: 100%;

  text-align: center;
  background: #000000;
}
.header-image {
  background-image: url('../../../../../assets/global.png');
  background-size: cover;
  height: 35px;
  width: 35px;
}

.car-global {
  width: 100%;
}
